# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Apple
ios/
*.xcodeproj/
*.xcworkspace/
DerivedData/
*.app
*.ipa
*.playground
/*.swift

# Environment
.env
.env.local
.env**.local

# IDE & OS
.vscode/
.idea/
.DS_Store
*.swp
*.swo